
* { 
    margin: 0;
    padding: 0;
}

body , html  {
    height: 100%;
}

h1 , p { 
    text-align: center;
}

body { 
    max-width: 1440px;
    margin: 0 auto;
    background-color: hsl(212, 45%, 89%);
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;

}

.container { 
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.box {
    height: 30rem;
    width: 20rem;
    background-color: white;
    border: 10px solid white;
    border-radius: 8%;
  }

  img {
    width: 20rem;
    border-radius: 8%;
  }

.box h1 {
    padding-top: 1rem;
    font-size: 1.5rem;
  }
  
  .box p {
    padding-top: 1rem;
    font-size: 1rem;
    opacity: 70%;
  }
  
  @media (max-width: 400px) {

    .box {
        height: 23rem;
        width: 13rem;
    }

    img {
        height: 14rem;
        width: 13rem;
    }

    .box h1 {
        font-size: 1.1rem;
    }

    .box p {
        font-size: 0.77rem;
        padding-top: 1.5rem;
      }
  }